.game{
    height: 100%;
    padding: 10px 25px;
    background: white;
    /*border-radius: 5px;*/
}

.animation-and-answers{
    display: flex;
    /*justify-content: space-between;*/
    height: 100%;
    padding: 1% 0 5% 0;
}

.animation{
    width: 75%;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(45deg, rgba(255,0,102,0.62) 0%,rgba(41,137,216,0.65) 57%,rgba(16,239,39,0.67) 100%);
    border-image-slice: 1;
}

.answer-input{
    margin-left: 5%;
    text-align: left;
}

.draggable{
    margin-bottom: 10px;
}

#confirm-button{
    width: 100%;
    background: linear-gradient(45deg, rgba(255,0,102,0.62) 0%,rgba(41,137,216,0.65) 57%,rgba(16,239,39,0.67) 100%);
    padding: 5%;
    border:none;
    color: white;
    font-size: 1.25em;
    /*border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(45deg, rgba(255,0,102,0.62) 0%,rgba(41,137,216,0.65) 57%,rgba(16,239,39,0.67) 100%);
    border-image-slice: 1;*/
}

.question-text{
    font-size: 1.25em;
    text-align: left;
    margin: 0;
}

@keyframes correct-response {
    0% {
        box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 0);
    }

    100% {
        box-shadow: 0px 0px 20px 5px rgba(53,222,98,1);
    }
}

.correct-response {
    animation-name: correct-response;
    animation-duration: 0.5s;
    animation-iteration-count: 5;
    animation-timing-function: linear;
}

@keyframes incorrect-response {
    0% {
        box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 0);
    }

    100% {
        box-shadow: 0px 0px 20px 5px rgba(224,49,49,1);
    }
}

.incorrect-response {
    animation-name: incorrect-response;
    animation-duration: 0.5s;
    animation-iteration-count: 3;
    animation-timing-function: linear;
}

.illustration{
    display: flex;
    flex-flow: column;
}

#droppable1 {
    width: 100%;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(45deg, rgba(255,0,102,0.62) 0%,rgba(41,137,216,0.65) 57%,rgba(16,239,39,0.67) 100%);
    border-image-slice: 1;
    flex: 1 1 auto;
}